<div id='#game'>
  <div>
    <div>You joined Game <%= @game.high_score.id %> as a <%= @user.type %></div>
    <div>You are currently: <b><span id='status'></span></b>
  </div>
  
  <div id='message-container'>
    <div id='message-log'>
    </div>
  </div>

  <div id='controls'>
    <% if @user.type == 'Grandson' %>
      <div id='main-tab' class='selected tab' data-section='#main'>
        Read Instructions
      </div>
      <div id='monitor-tab' class='tab' data-section='#monitor'>
        View Monitors
      </div>
      <div id='tower-tab' class='tab' data-section='#tower'>
        View Towers
      </div>
    <% else %>
      <div id='main-tab' class='selected tab' data-section='#main'>
        View Computer
      </div>
    <% end %>
    <div id='builder-tab'class='tab' data-section='#builder'>Talk on Phone</div>
  </div>

  <div id='main' class='section'>
  </div>

  <div id='monitor' class='hidden section'>
  </div>

  <div id='tower' class='hidden section'>
  </div>

  <div id='builder' class='hidden section'>
    <form id="message-builder">
      <div id='message-block'></div>
      <button>Submit</button>
    </form>

    <div id='word-list'>
      <h4>WORD LIST:</h4>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  App.connect_to_game('<%=@user.type%>', <%=@user.id%>)
<% end %>
